.header {
  &__content {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.image-container {
  border: 2px dashed #ccc;
  border-radius: 8px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.footer {
  &__content {
   border-radius: 10px;
  }
}
